<!-- <h1>Hotel Inventory Application</h1> -->
<!-- <h1>{{name}}</h1> -->
<!-- <app-rooms></app-rooms> -->

<!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1>Trying out the content projection</h1>
</app-container> -->

<!-- 

<div [ngSwitch] = "role">
    <div *ngSwitchCase="'user'">Welcome User!</div>
    <div *ngSwitchCase="'admin'"><app-rooms></app-rooms></div>
    <div *ngSwitchDefault>You are not an authorized user.</div>
</div> 

 -->

<!--
Accessing component dynamically.

By using the ng-template we can able to render the components, even though the ng-template can't able to render but it is helpful for rendering 
other components. 

The #user is called as template reference where it is used for modifying the html tags.

<div>
    <ng-template #tester></ng-template>
</div>

-->

<!-- If we want to use routing we have to use the router-outlet component because it works like a div tage where it will be used as a container
 to display the element. We have 2 components for routing if we click on rooms it will be render after the router outlet component
 only because the render information will be displayed only within that router outlet tag. -->


 <!-- We can also use href instead of routeLink, but the issue is if we use href the whole application will be rendered every time 
  Then it won't be an implementation of SPA, it is useful for MPA (Multi Page Application), if we use the routerLink the page won't be redirected
  all the time but still we can able to get the required component rendered. -->
  
 <!-- <a [routerLink]="'/rooms'">Rooms</a>
 <a [routerLink]="'/employee'">Employee</a>

 <router-outlet></router-outlet> -->

 <app-app-nav></app-app-nav>
